global
     maxconn 8192
     nbthread 2

defaults
    mode http
    option dontlognull
    timeout connect 2s
    timeout client  15s
    timeout server  15s

frontend rinha_frontend
    bind *:80
    default_backend servers

backend servers
    balance leastconn
    option httpchk GET /health
    http-check expect status 200
    server instance-1 instance-1:8080 check inter 5s fall 3 rise 1
    server instance-2 instance-2:8080 check inter 5s fall 3 rise 1
