global
     maxconn 2000
     nbthread 1

defaults
    mode http
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend rinha_frontend
    bind *:80
    default_backend servers

backend servers
    balance roundrobin
    option httpchk GET /actuator/health
    server instance-1 instance-1:8080 check
    server instance-2 instance-2:8080 check





