global
    maxconn 2048
    nbthread 2

defaults
    mode http
    option dontlognull
    option http-keep-alive
    timeout connect 500ms
    timeout client  1500ms
    timeout server  1500ms
    timeout queue   1s
    timeout http-keep-alive 5s

frontend rinha_frontend
    bind *:80
    default_backend servers

backend servers
    balance leastconn
    http-reuse always
    option httpchk GET /health
    http-check expect status 200
    server instance-1 instance-1:8080 check inter 3s fall 3 rise 1 maxconn 1024
    server instance-2 instance-2:8080 check inter 3s fall 3 rise 1 maxconn 1024
